body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

.curved-bottom {
  position: relative;
  background-color: rgb(84, 167, 223);
  width: 100%;
  height: 500px;
  overflow: hidden;
  margin-bottom: 400px;
}

.curved-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background-color: white;
  transform: skewY(-5deg);
  transform-origin: bottom right;
}

.right-content {
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.curved-bottom .row [class^="col-"] {
  padding: 0;
  margin: 0;
}

.social-icons {
  text-align: right;
}

.social-icons i {
  font-size: 24px;
  margin-left: 10px;
}

.card {
  border-radius: 0 !important;
}

.portfolio-card {
  margin-bottom: 30px;
  border: none;
  border-radius: 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  object-fit: cover;
  height: 300px;
}

.card-body {
  background-color: white;
  padding: 10px;
}

.card-body h2{
  font-size: 30px;
}

.card-title{
  font-size: 15px;
}

.card-title{
  font-weight: 700 !important;
}

.card-text{
  font-size: 14px;
}

.purple {
  background-color: blue;
}

.card-img-top p {
  font-size: 35px;
}

.contact-section {
  background-color: rgb(84, 167, 223);
  color: #fff;
  padding: 20px 0;
}

.contact-info {
  margin-bottom: 10px;
}

.contact-section img {
  max-width: 100%;
  height: auto;
}

.footer-icons i {
  font-size: 24px;
}

.statistic-item h1 {
  font-weight: 800;
  font-size: 35px;
}

.my-projects {
  margin-top: 100px;
}

.my-projects h4{
  font-weight: 700;
}

.bg-snap {
  background-color: #f0edee;
  margin: 0 !important;
}

.copyright h4 {
  font-size: 1em;
}

.hth{
  height: 350px;
  padding: 10px 0;
}

.bg-custom {
  background-color: rgb(84, 167, 223);
  color: white; 
  padding: 10px 20px;
  border-radius: 5px;
}

@media (max-width: 1024px) {
  /* .hth {
    overflow: hidden;
    white-space: nowrap;
  } */
}


@media (max-width: 769px) {
  .curved-bottom {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 426px) {
  .curved-bottom {
    width: 100%;
    height: 100%;
  }

  .hth{
    height: 400px;
  }
}
